body.page-template-about {

	section#hero {
		@include aspect-ratio(16, 9);
		max-height: 1024px;
		
	}


	section#main {

		.header {
			padding: 0 0 50px 0;
		}

		section#about-copy {
			margin: 0 auto;
			max-width: 960px;
			text-align: center;

			p {
				font-size: 1em;
				line-height: 1.8em;

				@include tablet-portrait {
					font-size: 1.1875em;
				}
			
				& + p {
					padding: 50px 0 0 0;
				}
			}
		}

		section#mission-statement {
			padding: 100px 0 125px 0;
			margin: 0 auto;
			max-width: 840px;
			text-align: center;

			p {
				font-size: 1.75em;
				line-height: 1.3333em;
				color: $red;
				font-family: $news-cycle;

				@include tablet-portrait {
					font-size: 2.25em;
				}

				@include desktop {
					font-size: 3em;
				}
			}
		}


		section#team {
			.header {
				padding-bottom: 0;
			}

			.people-list {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
				grid-gap: 50px 30px;

				.people {
					text-align: center;



					&:hover {
						.photo {
							a {
								img {
									filter: grayscale(0%);
								}
							}
						}
						
					}

					.photo {
						a {
							display: block;

							img {
								margin: 0 auto;
								filter: grayscale(100%);
								transition: all 0.5s ease-in-out;
							}
						}
					}

					.info {
						padding: 20px 0 0 0;

						h4 {
							text-transform: uppercase;
							letter-spacing: 0.05em;
							font-size: 1.125em;
							padding: 0 0 15px 0;

							a {
								color: $blue;
							}
						}

						h5 {
							font-family: $baskerville;
							font-weight: normal;
							font-size: 0.75em;
							font-style: italic;
						}
					}
				}
			}

		}

	}

}