body.post-type-archive-projects {
	
	section#main {
		text-align: center;
		padding: 75px 0;

		.header {
			text-align: center;
			padding: 0 0 50px 0;
		}

		.filters {
			text-align: left;
			margin-bottom: 50px;

			.filter-wrapper {
				display: none;
				padding: 50px 0 25px 0;		
			}

			.flex-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.header {
				width: 100%;
				text-align: left;
				padding: 0 0 10px 0;
				border-bottom: 2px solid $light-gray;

				h3 {
					font-weight: 400;
					font-family: $baskerville;
					letter-spacing: -0.02em;
					color: $slate;
					font-size: 1.5em;

					span {
						color: $red;
						display: inline-block;
						transition: all 0.3s ease-in-out;
					}

					a.active {
						span {
							transform: rotate(45deg);
						}
					}
				}
			}

			.filter {
				width: 100%;

				& + .filter {
					padding-top: 50px;
				}

				@include mobile-landscape {
					width: 48%;
					
					& + .filter {
						padding-top: 0;
					}

					&.phase,
					&.location {
						padding-top: 50px;
					}
				}

				@include tablet-landscape {
					width: 23%;

					&.phase,
					&.location {
						padding-top: 0;
					}
				}

				h4 {
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 0.1em;
					font-size: 0.875em;
					color: $red;
					padding: 0 0 10px 0;
				}


				&.year,
				&.location {
					select {
						width: 80%;
					}
					
				}

				&.year {
					.before-after {
						border: 1px solid $red;
						border-radius: 3px;
						margin: 0 0 20px 0;
						float: left;

						a {
							text-transform: uppercase;
							font-family: $news-cycle;
							color: $red;
							font-weight: bold;
							font-size: 0.75em;
							line-height: 1.125em;
							letter-spacing: 0.05em;
							display: block;
							float: left;
							padding: 7px 14px;
							transition: all 0.2s ease-in-out;

							&.active,
							&:hover {
								background: $red;
								color: $white;

							}
						}
					}
				}

			}
		}


	}


}