body.blog {


	section#main {
		.header {
			padding: 0 0 75px 0;
		}
	}

	.posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 50px;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
		}

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	nav.pagination {
		margin: 75px 0 0 0;
		border-top: 1px solid $light-gray;
		padding: 25px 0 0 0;
		display: flex;
		justify-content: center;

		h2.screen-reader-text {
			display: none;
		}

		.nav-links {
			display: flex;

			span.current,
			a.page-numbers {
				display: inline-block;
				font-family: $news-cycle;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 0.875em;
				letter-spacing: 0.05em;
				padding: 0 10px;
			}

			span.current {
				color: $red;
			}

			a.page-numbers {

				&:hover {
					color: $red;
				}
			}
		}

	}


}