body.projects-template-case-study {

	section#page-header {
		padding: 75px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 75px 0;
		}

		h3 {
			text-transform: uppercase;
			font-size: 0.875em;
			letter-spacing: 0.1em;
			padding: 0 0 10px 0;
			color: $mid-gray;
		}

		h2 {
			font-family: $baskerville;
			font-style: italic;
			font-weight: normal;
			font-size: 1em;
			padding: 20px 0 0 0;

			@include tablet-portrait {
				font-size: 1.125em;
			}
		}
	}

	section#prologue,
	section#epilogue {
		text-align: center;

		.wrapper {
			max-width: 960px;
		}

		.info {
			padding: 50px 0 0 0;
		}

		.section-header-center {
			padding: 0 0 25px 0;
			h3.section-header {
				margin: 0;
			}
		}


		p {
			font-size: 1.125em;
			line-height: 1.5em;

			@include tablet-portrait {
				font-size: 1.5em;
			}

			& + p {
				padding-top: 50px;
			}

		}
	}

	section#prologue {
		padding: 50px 0 100px 0;

		@include tablet-portrait {
			padding: 50px 0 150px 0;
		}
	}

	section#epilogue {
		padding: 100px 0 0 0;

		@include tablet-portrait {
			padding: 150px 0 0 0;
		}
	}

	section.case-study {
		& > section + section {
			padding-top: 50px;

			@include tablet-portrait {
				padding-top: 100px;
			}

		}

		section.full-width-inset {
			padding-top: 0;
			margin-top: 50px;

			@include tablet-portrait {
				margin-top: 100px;
			}
		}

		section.section-header-center  + section {
			padding-top: 50px;
		}

		section + section.section-header-center {
			padding-top: 100px;

			@include tablet-portrait {
				padding-top: 150px;
			}
		}


	}

	section.side-by-side,
	section.two-column,
	section.three-column,
	section.text {
		.info {
			h3 {
				@include case-study-h3;			
			}

			p {
				@include case-study-copy;

				& + p {
					padding-top: 25px;
				}
			}
		}
	}

	section.section-header-center {
		h3.section-header {
			margin: 0;
		}
	}


	section.side-by-side {

		@include tablet-portrait {

			& + section.side-by-side {
				padding-top: 0;
			}
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.info {
			width: 100%;
			padding: 0 0 20px 0;

			@include tablet-portrait {
				width: 50%;
				padding: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			@include tablet-landscape {
				padding: 50px;
			}
		}

		.image {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}

			img {
				width: 100%;
			}
		}

		&.left {
			.image {
				@include tablet-portrait {
					order: -1;
				}
			}
		}

	}

	section.two-column {
		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.col {
			width: 100%;

			& + .col {
				padding-top: 50px;
			}

			@include tablet-portrait {
				width: 47.5%;


				& + .col {
					padding-top: 0;
				}
			}

			.info {
				padding: 20px 0 0 0;
			}
		}


	}


	section.text {
		text-align: center;

		.wrapper {
			max-width: 640px;
		}
	}

	section.full-width-inset {
		@include aspect-ratio(16, 9);
		max-height: 768px;
		
		.wrapper {
			position: relative;
			height: 100%;
		}


	}

	.inset {
		background: $red;
		color: $white;
		padding: 20px;


		&.desktop {
			position: absolute;
			bottom: 10px;
			right: 10px;
			max-width: 80%;
			display: none;

			@include tablet-portrait {
				max-width: 400px;
				right: 0;
				bottom: 20px;
				display: block;
			}

		}

		&.mobile {
			margin-bottom: 50px;

			@include tablet-portrait {
				display: none;
			}
		}


		h3 {
			font-size: 1em;
			padding: 0 0 10px 0;
		}

		p {
			font-size: 0.75em;
			line-height: 1.25em;
			font-style: italic;
		}

	}

	.inset + section {
		padding-top: 100px;

		@include tablet-portrait {
			padding-top: 150px;
		}
	}


}
