body.page-template-clients {

	section#main {

		.header {
			padding: 0 0 50px 0;
		}

		.copy {
			margin: 0 auto;
			max-width: 960px;
			text-align: center;
			padding: 0 0 100px 0;

			p {
				font-size: 1.1875em;
				line-height: 1.8em;
			
				& + p {
					padding: 50px 0 0 0;
				}
			}
		}

		section.client-list {

			& + section.client-list {
				padding: 150px 0 0 0;
			}
			

			.header {
				padding: 0;
			}

			.toggle {
				text-align: center;
				padding: 0 0 20px 0;

				@include mobile-landscape {
					display: none;
				}

				.show {
					display: inline-block;
					font-family: $news-cycle;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: $red;
					transform: translateY(-20px);
				}
			}



			.list {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 50px 50px;
				text-align: center;
				align-items: center;

				&.hide {
					display: none;

					@include mobile-landscape {
						display: grid !important;
					}
				}

				@include mobile-landscape {
					grid-template-columns: 1fr 1fr;
				}

				@include tablet-portrait {
					grid-template-columns: 1fr 1fr 1fr;
				}

				.logo {
					max-width: 150px;
					margin: 0 auto;
					padding: 0 0 20px 0;
				}
			}


		}
		

		section#where-we-work {
			padding: 150px 0 0 0;

			.header {
				padding: 0;
			}

			.copy {
				max-width: 840px;
				margin: 0 auto;
				text-align: center;
				padding: 0 0 75px 0;

				p {
					font-size: 1.1875em;
					line-height: 1.8em;
				}
			}
		}

	}

}