body.page-template-contact {

	section#main {
		padding-bottom: 100px;

		.header {
			padding: 0 0 50px 0;
		}

		section#contact-info {
			text-align: center;

			h4 {
				color: $red;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				padding: 0 0 10px 0;
			}

			p {
				font-size: 1em;
				line-height: 1.5em;

				a {
					display: inline-block;
					border-bottom: 1px dotted;
				}
			}

			p + h4 {
				padding-top: 50px;
			}
		}

		section#job-openings {
			text-align: center;
			padding-top: 100px;

			.header.center {
				padding: 0;

				h3.section-header {
					margin-bottom: 25px;
				}
			}

			.job {

				& + .job {
					padding-top: 15px;
				}

				a {
					display: inline-block;
					font-family: $news-cycle;
					font-weight: bold;
					border-bottom: 1px dotted;
					padding-bottom: 3px;


				}
			}
		}

		section#contact-form {
			padding-top: 100px;

			.header.center {
				padding: 0;
			}

			.wpforms-container {
				max-width: 480px;
				margin: 0 auto;
				background: #fff;
				padding: 40px;
				border-radius: 5px;
				box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
			}

			.wpforms-field-label {
				font-family: $news-cycle;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
			}

			.wpforms-field {
				padding: 0;

				& + .wpforms-field {
					padding-top: 35px;
				}
			}

			.wpforms-field-medium {
				max-width: 100%;
			}

			.wpforms-submit-container {
				padding: 35px 0 0 0;

				button[type=submit] {
					background: $red;
					color: $white;
					font-family: $news-cycle;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.875em;
					font-weight: bold;
					border: none;
					padding: 10px 20px;
				}
			}

			.wpforms-error {
				padding: 10px 0 5px 0;
			}
		}
		
	}

	section#map {
		a {
			display: block;
			@include aspect-ratio(12, 5);
		}
	}

	footer {
		padding-top: 0;

		.col-wrapper {
			border-top: none;
		}
	}

}