footer {
	padding: 50px 0 0 0;

	@include tablet-portrait {
		padding: 75px 0 0 0;
	}

	.col-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-top: 1px solid $light-gray;
		padding-top: 50px;
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-top: 75px;
			padding-bottom: 75px;
		}

		.col {
			width: 100%;

			@include tablet-portrait {
				width: 31.3333%;
			}
		}


		@include mobile-landscape {
			.col-1 {
				text-align: center;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				.copyright {
					width: 100%;
				}
			}

			.col-2,
			.col-3 {
				width: 48.5%;
			}
			
			.col-3 {
				text-align: right;
			}

		}

		@include tablet-portrait {
			.col-1 {
				text-align: left;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0 40px 0 0;

				.copyright {
					max-width: 240px;
				}
			}

			.col-1,
			.col-2,
			.col-3  {
				width: 31.333%; }

			.col-3 {
				text-align: left;
			}

		}

		@include desktop {
			.col-1,
			.col-2 {
				width: 22.5%;
			}
			.col-3 {
				width: 42.5%;
			}

			.col-3 {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;

				.section-header-wrapper {
					width: 100%;
				}

				.sub-col {
					width: 31.3333%;
				}
			}
		}



	}


	.logo {
		padding: 0 0 20px 0;

		@include tablet-portrait {
			padding: 0 0 50px 0;
		}
	}

	.copyright {
		padding: 0 0 50px 0;

		@include tablet-portrait {
			padding: 0;
		}

		p {
			font-size: 0.6875em;
			font-style: italic;
			line-height: 2em;
			color: $mid-gray;
		}
	}

	.nav {
		a {
			font-family: $news-cycle;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.9375em;
			display: block;
			padding: 10px 0;

			&:hover {
				color: $red;
			}

			@include tablet-portrait {
				font-size: 0.875em;

				&:first-of-type {
					padding-top: 0;
				}
			}

			@include tablet-landscape {
				font-size: 0.9375em;
			}

		}
	}

	.contact-info {
		padding: 50px 0 0 0;

		@include mobile-landscape {
			padding: 0;
		}

		h3.section-header {
			margin-bottom: 25px;
		}

		.sub-col {
			padding: 0 0 30px 0;

			@include desktop {
				padding: 0;
			}

			h4 {
				color: $red;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.75em;
				padding: 0 0 5px 0;
			}

			p {
				font-family: $news-cycle;
				font-weight: bold;
				font-size: 0.875em;
				line-height: 1.5em;
			}

			p + h4 {
				padding-top: 30px;
			}

			a:hover {
				color: $red;
			}
		}

		.social {
			width: 100%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			@include mobile-landscape {
				justify-content: flex-end;
			}

			@include tablet-portrait {
				justify-content: flex-start;
			}

			@include desktop {
				padding-top: 50px;
			}

			h4 {
				width: 100%;
				color: $slate;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.75em;
				padding: 0 0 15px 0;
				font-weight: bold;
			}

			a {
				display: block;
				width: 100%;
				max-width: 24px;

				& + a {
					margin-left: 20px;
				}

				img {
					width: 100%;
					height: 24px;
					max-width: 24px;
					max-height: 20px;
				}
			}
		}
	}

}