header {
	padding: 40px 0 30px 0;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3333);
	z-index: 100;

	@include tablet-portrait {
		padding: 30px;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include tablet-portrait {
			align-items: stretch;
		}
	}

	section.logo {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;

		@include tablet-portrait {
			padding: 0 20px 0 0;
			border-right: 1px solid $light-gray;
			width: 30%;
		}

		@include tablet-landscape {
			padding: 0 80px 0 0;
		}
	}

	section.navigation {
		width: 100%;

		@include tablet-portrait {
			padding: 5px 0 5px 20px;
			width: auto;
			flex: 1;
		}

		@include tablet-landscape {
			padding: 5px 0 5px 80px;
		}


		nav {
			display: none;

			@media screen and (max-width: 767px) {
				&.open {
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: fixed;
					z-index: 1000;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100vh;
					background: rgba(255, 255, 255, 0.98);
				}
			}

			@include tablet-portrait {
				display: block !important;
			}

			.subnav {
				padding: 20px 0;
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				text-align: center;

				@include tablet-portrait {
					padding: 0;
					text-align: left;

					&:not(.home) + .subnav {
						padding: 30px 0 0 0;
					}

				}

				&.home {
					@include tablet-portrait {
						display: none;
					}
				}

				h4 {
					font-family: $baskerville;
					font-style: italic;
					font-weight: normal;
					color: $mid-gray;
					font-size: 0.9375em;
					width: 100%;

					@include tablet-portrait {
						font-size: 0.75em;
					}
				}

				a {
					font-family: $news-cycle;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.9375em;
					display: inline-block;
					width: 100%;
					padding: 10px 0;

					@include tablet-portrait {
						padding: 0;
						width: auto;
						font-size: 0.75em;
						margin-top: 5px;

						+ a:before {
							content: '·';
							display: inline-block;
							padding: 0 10px;
						}						
					}

					@include tablet-landscape {
						font-size: 0.8125em;
						
						+ a:before {
							padding: 0 8px;
						}						
					}

					@include desktop {
						font-size: 0.875em;

						+ a:before {
							padding: 0 12px;
						}	
					}

					&:hover {
						color: $red;
					}
				}
			}

			.mobile-cta {
				.btn {
					background: transparent;

					&:hover {
						background: $red;
					}
				}
				@include tablet-portrait {
					display: none;
				}
			}

		}

		.tagline {
			padding: 40px 0 0 0;

			@include tablet-portrait {
				padding: 30px 0 0 0;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
			}

			.tagline-wrapper {
				max-width: 400px;
				margin: 0 auto;
				text-align: center;

				@include tablet-portrait {
					max-width: 540px;
					margin: 0;
					text-align: left;
					flex: 1;
					padding-right: 25px;
				}

				h2 {
					font-family: $baskerville;
					font-size: 1.125em;
					font-weight: normal;
					line-height: 1.25em;
					letter-spacing: -0.02em;

					@include tablet-portrait {
						font-size: 1em;
					}

					@include tablet-landscape {
						font-size: 1.5em;
					}
				}
			}

			.cta {
				display: none;

				@include tablet-portrait {
					display: block;
				}


			}
		}
	}

	.btn {
		display: inline-block;
		background: $white;
		color: $red;
		border: 2px solid $red;
		font-family: $news-cycle;
		text-transform: uppercase;
		font-size: 0.8125em;
		letter-spacing: 0.05em;
		font-weight: bold;
		padding: 10px 15px;

		@include tablet-portrait {
			font-size: 0.75em;
			padding: 8px 12px 10px 12px;
		}

		@include tablet-landscape {
			font-size: 0.8125em;
			padding: 10px 15px;
		}

		&:hover {
			background: $red;
			color: $white;
		}
	}

	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 35px;
		    height: 2px;
		    background: $slate;
		    border-radius: 2px;
		    transition: all 0.3s;
		    margin-left: auto;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 35px;
			    height: 2px;
			    background: $slate;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {
		z-index: 10001;

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}



}


// Active
body.home .nav-home,
body#analysis-and-strategy .nav-analysis-strategy,
body#pre-development-and-implementation .nav-pre-development-implementation,
body.page-template-case-studies .nav-case-studies,
body.post-type-archive-projects .nav-projects,
body.single-projects .nav-projects,
body.post-type-archive-skills .nav-skills,
body.single-skills .nav-skills,
body.page-template-about .nav-our-firm,
body.page-template-clients .nav-our-clients,
body.single-people .nav-our-firm,
body.blog .nav-blog,
body.single-post .nav-blog,
body.page-template-contact .nav-contact  {
	color: $red;
}