body.home {

	section#hero {

		.slick-dots {
			bottom: -40px;
			z-index: 10;

			li button:before {
				background: $slate;
				opacity: 0.2;
			}

			li.slick-active button:before {
				background: $slate;
				opacity: 1;
			}
		}

		.photo {
			img {
				width: 100%;
				object-fit: cover;
			}
		}


		.caption {
			background: $red;
			color: $white;
			padding: 10px 20px;
		

			@include tablet-portrait {
				transform: translateY(-20px);
				padding: 20px;
				position: absolute;
				right: 20px;
				bottom: 20px;
				transform: translateY(0px);
				max-width: 400px;
			}



			p {
				font-size: 0.8125em;
				line-height: 1.375em;
				font-style: italic;

				@include mobile-landscape {
					font-size: 0.875em;
				}
			}
		}

	}
	section#about-statement {
		padding: 90px 0 50px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 800px;
		}

		p {
			font-size: 0.9375em;
			line-height: 1.8;

			@include tablet-portrait {
				font-size: 1.25em;
			}
		}
	}


	section#our-firm {
		position: relative;
		margin-top: 100px;


		@include tablet-portrait {
			margin-top: 150px;

			.inset {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}

			.wrapper {
				height: 100%;
				padding: 0;
			}
		}

		.wrapper {
			padding: 0;

			@include tablet-portrait {
				padding: 0 25px;
			}

			@media screen and (min-width: 1250px) {
				padding: 0;
			}
		}

		.info {
			background: $red;
			color: $white;
			padding: 20px;


			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 640px;
				position: absolute;
				bottom: 20px;
				left: 45px;

				.copy {
					max-width: 400px;
					padding-right: 40px;
				}
			}

			@include desktop {
				left: 20px;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 10px 0;
			}

			p {
				font-size: 0.8125em;
				line-height: 1.375em;
				font-style: italic;
				padding: 0 0 20px 0;

				@include mobile-landscape {
					font-size: 0.875em;
				}

				@include tablet-portrait {
					padding: 0;
				}
			}

			a.learn-more {
				color: $white;
				font-family: $news-cycle;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.75em;
				border: 1px solid;
				display: inline-block;
				padding: 10px 20px;

				&:hover {
					background: $white;
					color: $red;
				}
			}
		}
	}


	section#blog {
		padding: 100px 0;

		@include tablet-portrait {
			padding: 150px 0 100px 0;
		}

		.posts {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 50px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

	}

}