body.page-template-press {

	section#main {
		padding-bottom: 50px;

		.header {
			padding: 0 0 25px 0;
		}

		section.press-copy {
			margin: 0 auto;
			max-width: 640px;
			text-align: center;
			padding-bottom: 75px;

			p {
				font-size: 1em;
				line-height: 1.8em;


			
				& + p {
					padding: 50px 0 0 0;
				}
			}
		}


		section.press-clippings {
			text-align: center;
			max-width: 480px;
			margin: 0 auto;

			.press-clip {

				& + .press-clip {
					margin-top: 75px;
				}

				a {
					span.publication {
						display: block;
						font-family: $news-cycle;
						text-transform: uppercase;
						letter-spacing: 0.1em;
						font-weight: bold;
						padding-bottom: 5px;
						font-size: 0.8125rem;
						color: $red;

						@include tablet-portrait {
							font-size: 0.9375rem;
						}
					}

					span.article {
						display: block;
						line-height: 1.5em;
						font-size: 1.125rem;

						@include tablet-portrait {
							font-size: 1.375rem;
						}
					}

					span.date {
						font-style: normal;
						font-family: $news-cycle;
						text-transform: uppercase;
						font-size: 0.75rem;
						letter-spacing: 0.1em;
						font-weight: bold;
						display: block;
						padding-top: 5px;
					}					

					&:hover {
						span.article {
							text-decoration: underline;
						}
					}
				}
			}



		}



	}

}