body.single-services {

	section#main {

		.header.page {
			padding: 0 0 50px 0;

			h1.page-header {
				@include tablet-portrait {
					font-size: 2em;
				}
			}
		}

		.description{
			padding: 0 0 125px 0;
			max-width: 960px;
			margin: 0 auto;
			text-align: center;

			p {
				font-size: 0.875em;
				line-height: 1.8em;

				@include tablet-portrait {
					font-size: 1.1875em;
				}
			
				& + p {
					padding: 50px 0 0 0;
				}
			}
		}

		.service-list {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 100px 50px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr;
			}

			.service {
				text-align: center;

				.photo {
					a {
						display: block;
						@include aspect-ratio(390, 292);
						filter: grayscale(100%);
						transition: all 0.5s ease-in-out;

						&:hover {
							filter: grayscale(0%);
						}
					}
				}

				.info {
					padding: 20px;

					h4 {
						font-size: 1em;
						line-height: 1.1em;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						max-width: 640px;
						margin: 0 auto;
					}

					.excerpt {
						padding: 20px 0 0 0;
						max-width: 320px;
						margin: 0 auto;

						p {
							font-size: 0.875em;
							line-height: 1.5em;
						}
					}

					.read-more {
						padding: 20px 0 0 0;

						a {
							color: $red;
							font-family: $news-cycle;
							font-weight: bold;
							text-transform: uppercase;
							letter-spacing: 0.05em;
							font-size: 0.875em;

							&:hover {
								text-decoration: underline;
							}

						}
					}					
				}
			}
		}
	}
}