body.single-post {

	.featured-image {
		img {
			margin: 0 auto;
		}
	}

	.header {
		padding: 75px 0;

		h4 {
			font-family: $baskerville;
			font-style: italic;
			font-weight: normal;
			color: #b5b5b5;
			font-size: 0.875em;
			padding: 0 0 20px 0;
		}

		.author {
			padding: 50px 0 0 0;
			display: flex;
			justify-content: center;
			align-items: center;

			.photo {
				padding: 0 0 0 10px;
				max-width: 106px;

				img {
					border-radius: 50%;
					border: 3px solid $white;
				}
			}

			.info {
				padding: 0 0 0 10px;
				text-align: left;

				h5 {
					font-size: 1.125em;

					a:hover {
						color: $red;
					}
				}

				h6 {
					font-family: $baskerville;
					font-style: italic;
					font-weight: normal;
					font-size: 0.8125em;
					padding: 10px 0 0 0;
				}
			}

		}
	}

	.body {
		max-width: 800px;
		margin: 0 auto;

		p {
			font-size: 1em;
			line-height: 1.75em;
			margin: 0 0 45px 0;

			@include tablet-portrait {
				font-size: 1.125em;
			}
		}

		ul, ol {
			font-size: 1em;
			line-height: 1.75em;
			margin: 0 0 45px 45px;
			max-width: 80%;

			@include tablet-portrait {
				font-size: 1.125em;
			}

			li {

				& + li {
					padding: 10px 0 0 0;
				}

			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		blockquote {
			padding: 0 0 0 45px;
			margin: 0 0 45px 0;
			position: relative;

			p, a {
				margin: 0;
				font-weight: 300;
				font-size: 1.375em;
				font-style: italic;
				line-height: 1.5em;
				text-decoration: none;
			}
		}


		h1, h2 {
			font-weight: 900;
			font-size: 1.5em;
			padding: 0 0 10px 0;
			color: $blue;
		}

		h3 {
			font-weight: 900;
			font-size: 1.25em;
			padding: 0 0 10px 0;
			color: $blue;
		}

		h4, h5, h6 {
			font-weight: 900;
			font-size: 1em;
			padding: 0 0 10px 0;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $blue;
		}

		div.wp-caption {
			padding: 25px 0 35px 0;

			p {
				color: #A9A9A9;
				text-align: center;
				width: 90%;
				margin: 0 auto;
				padding: 30px 0 0 0;
				font-style: italic;
			}

			img {
				width: auto !important;
				height: auto !important;
			}
		}

		a {
			text-decoration: underline;
			color: $red;
		}


	}


}