body.single-projects {

	section#page-header {
		padding: 75px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 75px 0;
		}

		h2 {
			font-family: $baskerville;
			font-style: italic;
			font-weight: normal;
			font-size: 1em;
			padding: 20px 0 0 0;

			@include tablet-portrait {
				font-size: 1.125em;
			}
		}
	}


	section#content {

		.wrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	
		article {
			width: 100%;
			order: 2;

			@include tablet-portrait {
				width: 53.3333%;
				order: 1;
			}
			
			section.copy {
				
				+ section.copy {
					padding-top: 50px;
				}

				h3.section-header {
					margin-bottom: 25px;
				}

			}

			#gallery {
				padding-top: 75px;
				display: flex;
				flex-wrap: wrap;

				.header {
					width: 100%;
				}

				.image {
					width: 100%;
					padding: 5px;

					@include mobile-landscape {
						width: 50%;
					}

					@include tablet-portrait {
						width: 33.3333%;
					}
				}
			}

		}

		aside {
			width: 100%;
			order: 1;
			padding: 0 0 75px 0;

			@include tablet-portrait {
				width: 31.6666%;
				order: 2;
				padding: 0;
			}

			#details {
				padding: 40px;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

				.fact {
					& + .fact {
						padding-top: 40px; 
					}

					h4 {
						text-transform: uppercase;
						padding: 0 0 10px 0;
						letter-spacing: 0.05em;
						font-size: 1em;
					}

					p, li {
						font-size: 0.8125em;
						line-height: 1.5em;
					}

					.skills-wrapper {
						display: flex;
						flex-wrap: wrap;

						a {
							display: block;
							font-family: $news-cycle;
							font-size: 0.875em;
							background: $red;
							color: $white;
							text-decoration: none;
							font-weight: bold;
							padding: 7px 10px 8px 10px;
							margin: 0 10px 10px 0;
						}
					}

					&.key-facts {
						a {
							text-decoration: underline;
						}
					}
					&.key-facts,
					&.services {

						ul {
							list-style-type: disc;
							padding: 0 0 0 20px;

						}
						li {
							font-size: 0.8125em;
							line-height: 1.5em;

							a {
								text-decoration: underline;
							}

							& + li {
								margin-top: 10px;
							}

							&.analysis-strategy,
							&.pre-development-implementation {
								display: none;
							}
						}
					}
				}
			}


		}


	}

	section#related-projects {
		text-align: center;
		padding-top: 75px;

		.project-list {
			padding: 20px 0 0 0;
		}
	}


	.bilderrahmen-wrapper {
		background: rgba(255, 255, 255, 0.9);

		.bilderrahmen--image-img {
			margin: 0 auto;
		}

		.bilderrahmen--top-title {
			display: none;
		}

		.bilderrahmen--image {
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
		}

		.bilderrahmen--image-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 100%;
		}

		.bilderrahmen--image-inner-wrap {
			max-width: 80%;
			max-height: 1000px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.bilderrahmen--left--has-previous:hover,
	.bilderrahmen--right--has-next:hover,
	.bilderrahmen--top-close:hover {
	    background: none;
	}

	.bilderrahmen--top {
		z-index: 10000;
	}

	.bilderrahmen--top-close {
		background: $white url(images/close.svg) no-repeat 50%;
		background-size: 100%;
		top: 20px;
		right: 20px;
		

		&:hover {
			background: $white url(images/close.svg) no-repeat 50%;
			background-size: 100%;
		}
	}

	.bilderrahmen--left {
		left: 20px;
		z-index: 10000;
		width: 48px;
		height: 48px;
		top: 50%;
		transform: translateY(-24px)
	}

	.bilderrahmen--right {
		right: 20px;
		z-index: 10000;
		width: 48px;
		height: 48px;
		top: 50%;
		transform: translateY(-24px)
	}

	.bilderrahmen--right--has-next {
		background: url(images/next.svg) no-repeat 0 0;
		background-size: 100%;

		&:hover {
			background: url(images/next.svg) no-repeat 0 0;
			background-size: 100%;
		}
	}

	.bilderrahmen--left--has-previous {
		background: url(images/prev.svg) no-repeat 0 0;
		background-size: 100%;

		&:hover {
			background: url(images/prev.svg) no-repeat 0 0;
			background-size: 100%;
		}
	}

}