body.single-skills {

	section#main {

		.header {
			padding: 0 0 25px 0;
		}
		
		.description {
			max-width: 840px;
			margin: 0 auto;
			text-align: center;

			p {
				font-size: 1.125em;
				line-height: 1.6em;
			}
		}

		.project-list {
			padding: 50px 0 0 0;
		}


	}

}