body.single-people {

	section#page-header {
		padding: 75px 0;
		text-align: center;

		h2 {
			font-family: $baskerville;
			font-style: italic;
			font-weight: normal;
			font-size: 1em;
			padding: 20px 0 0 0;

			@include tablet-portrait {
				font-size: 1.125em;
			}
		}

		.bio-leader {
			padding: 50px 0 0 0;
			margin: 0 auto;
			max-width: 640px;

			p {
				font-size: 1em;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1.125em;
				}
			}
		}


	}

	section#profile {
		.wrapper {
			max-width: 960px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			aside {
				width: 100%;
				padding: 0 0 50px 0;

				@include tablet-portrait {
					width: 40%;
					padding: 0;
				}
			}

			article {
				width: 100%;

				@include tablet-portrait {
					width: 55%;
				}
			}
		}

		h4 {
			text-transform: uppercase;
			font-size: 0.875em;
			letter-spacing: 0.05em;
			color: $red;
			padding: 0 0 10px 0;
		}

		aside {

			& > div + div {
				padding-top: 50px;
			}


			.education {
				.degree {
					h3 {
						font-size: 1em;
						line-height: 1.125em;
						padding: 0 0 5px 0;
					}

					p {
						font-size: 0.875em;
						line-height: 1.5em;
					}

					
					& + .degree {
						padding: 25px 0 0 0;

					}
				}
			}

			.skill-highlights {

				.skill {

					& + .skill {
						padding: 15px 0 0 0;
					}

					h3 {
						font-size: 1em;
					}
				}
			}

			.professional-affiliations {

				.affiliation {

					& + .affiliation {
						padding: 15px 0 0 0;
					}

					h3 {
						font-size: 1em;
					}
				}
			}
		}

		article {
			padding: 25px 0 0 0;

			@include tablet-portrait {
				padding: 0;
			}
			
			& > div + div {
				padding-top: 50px;
			}

			.social {
				.links {
					a {
						img {
							display: block;
							width: 100%;
							max-width: 32px;
						}
					}
				}
			}

			.bio {
				p {
					font-size: 0.875em;
					line-height: 1.5em;

					& + p {
						padding: 25px 0 0 0;
					}
				}
			}



		}

	}

	section#related-projects {
		padding: 75px 0 0 0;
		text-align: center;
	}


}