@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 

	// ABOUT
	body.page-template-about section#main section#team {

		.people-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.people {
				width: 100%;
				margin: 0 0 50px 0;

				@include mobile-landscape {
					width: 47.5%;
				}

				@include tablet-portrait {
					width: 30.8333%;
				}

				@include desktop {
					width: 23.5%;
				}
			}
		}
	}


	// HOME + BLOG
	body.blog,
	body.home section#blog {
		.posts {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.blog-preview {
				width: 100%;
				margin: 0 0 50px 0;

				@include mobile-landscape {
					width: 47.5%;
				}

				@include tablet-portrait {
					width: 30.8333%;
				}
			}
		}
	}

	// PROJECTS
	.project-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.project {
			width: 100%;
			margin: 0 0 50px 0;

			@include mobile-landscape {
				width: 47.5%;
			}

			@include tablet-portrait {
				width: 30.8333%;
			}
		}
	}


	// CLIENTS
	body.page-template-clients section#main section.client-list {
		
		.list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&.hide {
				display: none;

				@include mobile-landscape {
					display: flex !important;
				}
			}

			.client {
				width: 100%;
				margin: 0 0 50px 0;

				@include mobile-landscape {
					width: 47.5%;
				}

				@include tablet-portrait {
					width: 30.8333%;
				}				
			}
		}
	}


	// SERVICES
	body.single-services {

		.service-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.service {
				width: 100%;
				margin: 0 0 50px 0;

				@include mobile-landscape {
					width: 47.5%;
				}

				@include tablet-portrait {
					width: 30.8333%;
				}
			}
		}
	}


	// SKILLS
	section#skill-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.skill {
			width: 100%;
			margin: 0 0 50px 0;

			@include mobile-landscape {
				width: 47.5%;
			}

			@include tablet-portrait {
				width: 30.8333%;
			}
		}
	}
	
}