body {
	background: $white;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

body:not(.home) section#hero {
	@include aspect-ratio(12, 5);
	max-height: 768px;
}

section#main {
	padding: 75px 0;
}

.header.center {
	text-align: center;
}