html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $baskerville;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $news-cycle;
	font-weight: bold;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.section-header-center {
	text-align: center;
}

h1.page-header {
	font-size: 1.75em;
	line-height: 1.1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	max-width: 840px;
	margin: 0 auto;

	@include tablet-portrait {
		font-size: 2.25em;
	}

	&:after {
		display: block;
		content: '';
		width: 80px;
		height: 3px;
		background: $red;
		margin: 16px auto 0 auto;
	}
}

h2.subheadline {
	padding: 25px 0 0 0;
	max-width: 640px;
	margin: 0 auto;
	color: $slate;
	font-size: 1.25em;
	line-height: 1.375em;

}

h3.section-header {
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 0.05em;
	border-bottom: 2px solid $red;
	display: inline-block;
	padding: 0 0 5px 0;
	margin: 0 0 50px 0;
}

.header.center {
	.copy {
		padding: 25px 0 0 0;
		max-width: 640px;
		margin: 0 auto;

		p {
			font-size: 0.9375em;
			line-height: 2.13333em;

			& + p {
				padding-top: 25px;
			}
		}
	}
}



section.copy {

	p {
		font-size: 0.9375em;
		line-height: 2.13333em;
		padding: 0 0 25px 0;

	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	ul, ol {
		padding: 0 0 25px 20px;

		li {
			font-size: 0.9375em;
			line-height: 2.13333em;
		}
	}

}

a.filter-btn {
	text-transform: uppercase;
	font-family: $news-cycle;
	font-weight: bold;
	font-size: 0.75em;
	line-height: 1.125em;
	letter-spacing: 0.05em;
	display: inline-block;
	padding: 7px 14px;
	border: 1px solid;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;

	& + a.filter-btn {
		margin-top: 10px;
	}

	&:hover,
	&.active {
		background: $slate;
		color: $white;
	}
}