/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;

$red: #BF1E2E;
$blue: #434758;




/* Typography
----------------------------------*/
$baskerville: 'Libre Baskerville', serif;
$news-cycle: 'News Cycle', sans-serif;
$playfair: 'Playfair Display', serif;
