@charset "UTF-8";
/*

    Theme Name: APD Urban Planning + Management
    Theme URI: http://apdurban.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of APD Urban Planning + Management
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #BF1E2E;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #BF1E2E;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #2a2a2a;
  font: 400 100%/1 "Libre Baskerville", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "News Cycle", sans-serif;
  font-weight: bold; }

a {
  color: #2a2a2a;
  transition: all 0.3s ease-in-out; }

.section-header-center {
  text-align: center; }

h1.page-header {
  font-size: 1.75em;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 840px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    h1.page-header {
      font-size: 2.25em; } }
  h1.page-header:after {
    display: block;
    content: '';
    width: 80px;
    height: 3px;
    background: #BF1E2E;
    margin: 16px auto 0 auto; }

h2.subheadline {
  padding: 25px 0 0 0;
  max-width: 640px;
  margin: 0 auto;
  color: #2a2a2a;
  font-size: 1.25em;
  line-height: 1.375em; }

h3.section-header {
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #BF1E2E;
  display: inline-block;
  padding: 0 0 5px 0;
  margin: 0 0 50px 0; }

.header.center .copy {
  padding: 25px 0 0 0;
  max-width: 640px;
  margin: 0 auto; }
  .header.center .copy p {
    font-size: 0.9375em;
    line-height: 2.13333em; }
    .header.center .copy p + p {
      padding-top: 25px; }

section.copy p {
  font-size: 0.9375em;
  line-height: 2.13333em;
  padding: 0 0 25px 0; }

section.copy ul {
  list-style-type: disc; }

section.copy ol {
  list-style-type: decimal; }

section.copy ul, section.copy ol {
  padding: 0 0 25px 20px; }
  section.copy ul li, section.copy ol li {
    font-size: 0.9375em;
    line-height: 2.13333em; }

a.filter-btn {
  text-transform: uppercase;
  font-family: "News Cycle", sans-serif;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.125em;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid;
  border-radius: 3px;
  transition: all 0.2s ease-in-out; }
  a.filter-btn + a.filter-btn {
    margin-top: 10px; }
  a.filter-btn:hover, a.filter-btn.active {
    background: #2a2a2a;
    color: #fff; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

body:not(.home) section#hero {
  position: relative;
  max-height: 768px; }
  body:not(.home) section#hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 41.66667%; }
  body:not(.home) section#hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

section#main {
  padding: 75px 0; }

.header.center {
  text-align: center; }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body.page-template-about section#main section#team .people-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-about section#main section#team .people-list .people {
      width: 100%;
      margin: 0 0 50px 0; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      body.page-template-about section#main section#team .people-list .people {
        width: 47.5%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
      body.page-template-about section#main section#team .people-list .people {
        width: 30.8333%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 1280px), screen and (-ms-high-contrast: none) and (min-width: 1280px) {
      body.page-template-about section#main section#team .people-list .people {
        width: 23.5%; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body.blog .posts,
  body.home section#blog .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.blog .posts .blog-preview,
    body.home section#blog .posts .blog-preview {
      width: 100%;
      margin: 0 0 50px 0; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      body.blog .posts .blog-preview,
      body.home section#blog .posts .blog-preview {
        width: 47.5%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
      body.blog .posts .blog-preview,
      body.home section#blog .posts .blog-preview {
        width: 30.8333%; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .project-list .project {
      width: 100%;
      margin: 0 0 50px 0; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      .project-list .project {
        width: 47.5%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
      .project-list .project {
        width: 30.8333%; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body.page-template-clients section#main section.client-list .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-clients section#main section.client-list .list.hide {
      display: none; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      body.page-template-clients section#main section.client-list .list.hide {
        display: flex !important; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    body.page-template-clients section#main section.client-list .list .client {
      width: 100%;
      margin: 0 0 50px 0; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      body.page-template-clients section#main section.client-list .list .client {
        width: 47.5%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
      body.page-template-clients section#main section.client-list .list .client {
        width: 30.8333%; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  body.single-services .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.single-services .service-list .service {
      width: 100%;
      margin: 0 0 50px 0; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      body.single-services .service-list .service {
        width: 47.5%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
      body.single-services .service-list .service {
        width: 30.8333%; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  section#skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    section#skill-list .skill {
      width: 100%;
      margin: 0 0 50px 0; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 568px), screen and (-ms-high-contrast: none) and (min-width: 568px) {
      section#skill-list .skill {
        width: 47.5%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
      section#skill-list .skill {
        width: 30.8333%; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 45px;
  width: 45px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: 1px solid #ddd;
  z-index: 1000;
  outline: none;
  box-shadow: 0 4px 4px rgba(205, 205, 205, 0.5); }
  @media screen and (min-width: 768px) {
    .slick-prev,
    .slick-next {
      border: none; } }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.4; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 0; }
  @media screen and (min-width: 1280px) {
    .slick-prev {
      left: 0; }
      [dir="rtl"] .slick-prev {
        left: auto;
        right: 0; } }
  .slick-prev:before {
    background: url(images/left-arrow.png) no-repeat 0 0;
    width: 45px;
    height: 45px;
    content: '';
    display: block;
    background-size: 45px 45px; }

.slick-next {
  right: 0; }
  [dir="rtl"] .slick-next {
    left: 0;
    right: auto; }
  @media screen and (min-width: 1280px) {
    .slick-next {
      right: 0; }
      [dir="rtl"] .slick-next {
        left: 0;
        right: auto; } }
  .slick-next:before {
    background: url(images/right-arrow.png) no-repeat 0 0;
    width: 45px;
    height: 45px;
    content: '';
    display: block;
    background-size: 45px 45px; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      width: 12px;
      height: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        background-color: #fff;
        opacity: 0.8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      opacity: 0.8;
      background: #fff; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  padding: 40px 0 30px 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3333);
  z-index: 100; }
  @media screen and (min-width: 768px) {
    header {
      padding: 30px; } }
  header .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 768px) {
      header .wrapper {
        align-items: stretch; } }
  header section.logo {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      header section.logo {
        padding: 0 20px 0 0;
        border-right: 1px solid #d9d9d9;
        width: 30%; } }
    @media screen and (min-width: 1024px) {
      header section.logo {
        padding: 0 80px 0 0; } }
  header section.navigation {
    width: 100%; }
    @media screen and (min-width: 768px) {
      header section.navigation {
        padding: 5px 0 5px 20px;
        width: auto;
        flex: 1; } }
    @media screen and (min-width: 1024px) {
      header section.navigation {
        padding: 5px 0 5px 80px; } }
    header section.navigation nav {
      display: none; }
      @media screen and (max-width: 767px) {
        header section.navigation nav.open {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: fixed;
          z-index: 1000;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100vh;
          background: rgba(255, 255, 255, 0.98); } }
      @media screen and (min-width: 768px) {
        header section.navigation nav {
          display: block !important; } }
      header section.navigation nav .subnav {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center; }
        @media screen and (min-width: 768px) {
          header section.navigation nav .subnav {
            padding: 0;
            text-align: left; }
            header section.navigation nav .subnav:not(.home) + .subnav {
              padding: 30px 0 0 0; } }
        @media screen and (min-width: 768px) {
          header section.navigation nav .subnav.home {
            display: none; } }
        header section.navigation nav .subnav h4 {
          font-family: "Libre Baskerville", serif;
          font-style: italic;
          font-weight: normal;
          color: #7B7977;
          font-size: 0.9375em;
          width: 100%; }
          @media screen and (min-width: 768px) {
            header section.navigation nav .subnav h4 {
              font-size: 0.75em; } }
        header section.navigation nav .subnav a {
          font-family: "News Cycle", sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.9375em;
          display: inline-block;
          width: 100%;
          padding: 10px 0; }
          @media screen and (min-width: 768px) {
            header section.navigation nav .subnav a {
              padding: 0;
              width: auto;
              font-size: 0.75em;
              margin-top: 5px; }
              header section.navigation nav .subnav a + a:before {
                content: '·';
                display: inline-block;
                padding: 0 10px; } }
          @media screen and (min-width: 1024px) {
            header section.navigation nav .subnav a {
              font-size: 0.8125em; }
              header section.navigation nav .subnav a + a:before {
                padding: 0 8px; } }
          @media screen and (min-width: 1280px) {
            header section.navigation nav .subnav a {
              font-size: 0.875em; }
              header section.navigation nav .subnav a + a:before {
                padding: 0 12px; } }
          header section.navigation nav .subnav a:hover {
            color: #BF1E2E; }
      header section.navigation nav .mobile-cta .btn {
        background: transparent; }
        header section.navigation nav .mobile-cta .btn:hover {
          background: #BF1E2E; }
      @media screen and (min-width: 768px) {
        header section.navigation nav .mobile-cta {
          display: none; } }
    header section.navigation .tagline {
      padding: 40px 0 0 0; }
      @media screen and (min-width: 768px) {
        header section.navigation .tagline {
          padding: 30px 0 0 0;
          display: flex;
          justify-content: space-between;
          align-items: flex-end; } }
      header section.navigation .tagline .tagline-wrapper {
        max-width: 400px;
        margin: 0 auto;
        text-align: center; }
        @media screen and (min-width: 768px) {
          header section.navigation .tagline .tagline-wrapper {
            max-width: 540px;
            margin: 0;
            text-align: left;
            flex: 1;
            padding-right: 25px; } }
        header section.navigation .tagline .tagline-wrapper h2 {
          font-family: "Libre Baskerville", serif;
          font-size: 1.125em;
          font-weight: normal;
          line-height: 1.25em;
          letter-spacing: -0.02em; }
          @media screen and (min-width: 768px) {
            header section.navigation .tagline .tagline-wrapper h2 {
              font-size: 1em; } }
          @media screen and (min-width: 1024px) {
            header section.navigation .tagline .tagline-wrapper h2 {
              font-size: 1.5em; } }
      header section.navigation .tagline .cta {
        display: none; }
        @media screen and (min-width: 768px) {
          header section.navigation .tagline .cta {
            display: block; } }
  header .btn {
    display: inline-block;
    background: #fff;
    color: #BF1E2E;
    border: 2px solid #BF1E2E;
    font-family: "News Cycle", sans-serif;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: 0.05em;
    font-weight: bold;
    padding: 10px 15px; }
    @media screen and (min-width: 768px) {
      header .btn {
        font-size: 0.75em;
        padding: 8px 12px 10px 12px; } }
    @media screen and (min-width: 1024px) {
      header .btn {
        font-size: 0.8125em;
        padding: 10px 15px; } }
    header .btn:hover {
      background: #BF1E2E;
      color: #fff; }
  header #toggle {
    width: 40px;
    cursor: pointer;
    padding: 8px 0;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    z-index: 10001; }
    @media screen and (min-width: 768px) {
      header #toggle {
        display: none; } }
    header #toggle .patty {
      width: 35px;
      height: 2px;
      background: #2a2a2a;
      border-radius: 2px;
      transition: all 0.3s;
      margin-left: auto; }
      header #toggle .patty:after, header #toggle .patty:before {
        content: '';
        display: block;
        width: 35px;
        height: 2px;
        background: #2a2a2a;
        position: absolute;
        z-index: 1;
        transition: all 0.3s;
        border-radius: 2px; }
      header #toggle .patty:before {
        top: -8px; }
      header #toggle .patty:after {
        top: 8px; }
  header.open {
    z-index: 10001; }
    header.open #toggle .patty {
      background: none; }
      header.open #toggle .patty:after {
        top: 0;
        transform: rotate(45deg); }
      header.open #toggle .patty:before {
        top: 0;
        transform: rotate(-45deg); }

body.home .nav-home,
body#analysis-and-strategy .nav-analysis-strategy,
body#pre-development-and-implementation .nav-pre-development-implementation,
body.page-template-case-studies .nav-case-studies,
body.post-type-archive-projects .nav-projects,
body.single-projects .nav-projects,
body.post-type-archive-skills .nav-skills,
body.single-skills .nav-skills,
body.page-template-about .nav-our-firm,
body.page-template-clients .nav-our-clients,
body.single-people .nav-our-firm,
body.blog .nav-blog,
body.single-post .nav-blog,
body.page-template-contact .nav-contact {
  color: #BF1E2E; }

footer {
  padding: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 75px 0 0 0; } }
  footer .col-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #d9d9d9;
    padding-top: 50px;
    padding-bottom: 50px; }
    @media screen and (min-width: 768px) {
      footer .col-wrapper {
        padding-top: 75px;
        padding-bottom: 75px; } }
    footer .col-wrapper .col {
      width: 100%; }
      @media screen and (min-width: 768px) {
        footer .col-wrapper .col {
          width: 31.3333%; } }
    @media screen and (min-width: 568px) {
      footer .col-wrapper .col-1 {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        footer .col-wrapper .col-1 .copyright {
          width: 100%; }
      footer .col-wrapper .col-2,
      footer .col-wrapper .col-3 {
        width: 48.5%; }
      footer .col-wrapper .col-3 {
        text-align: right; } }
    @media screen and (min-width: 768px) {
      footer .col-wrapper .col-1 {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 40px 0 0; }
        footer .col-wrapper .col-1 .copyright {
          max-width: 240px; }
      footer .col-wrapper .col-1,
      footer .col-wrapper .col-2,
      footer .col-wrapper .col-3 {
        width: 31.333%; }
      footer .col-wrapper .col-3 {
        text-align: left; } }
    @media screen and (min-width: 1280px) {
      footer .col-wrapper .col-1,
      footer .col-wrapper .col-2 {
        width: 22.5%; }
      footer .col-wrapper .col-3 {
        width: 42.5%; }
      footer .col-wrapper .col-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start; }
        footer .col-wrapper .col-3 .section-header-wrapper {
          width: 100%; }
        footer .col-wrapper .col-3 .sub-col {
          width: 31.3333%; } }
  footer .logo {
    padding: 0 0 20px 0; }
    @media screen and (min-width: 768px) {
      footer .logo {
        padding: 0 0 50px 0; } }
  footer .copyright {
    padding: 0 0 50px 0; }
    @media screen and (min-width: 768px) {
      footer .copyright {
        padding: 0; } }
    footer .copyright p {
      font-size: 0.6875em;
      font-style: italic;
      line-height: 2em;
      color: #7B7977; }
  footer .nav a {
    font-family: "News Cycle", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9375em;
    display: block;
    padding: 10px 0; }
    footer .nav a:hover {
      color: #BF1E2E; }
    @media screen and (min-width: 768px) {
      footer .nav a {
        font-size: 0.875em; }
        footer .nav a:first-of-type {
          padding-top: 0; } }
    @media screen and (min-width: 1024px) {
      footer .nav a {
        font-size: 0.9375em; } }
  footer .contact-info {
    padding: 50px 0 0 0; }
    @media screen and (min-width: 568px) {
      footer .contact-info {
        padding: 0; } }
    footer .contact-info h3.section-header {
      margin-bottom: 25px; }
    footer .contact-info .sub-col {
      padding: 0 0 30px 0; }
      @media screen and (min-width: 1280px) {
        footer .contact-info .sub-col {
          padding: 0; } }
      footer .contact-info .sub-col h4 {
        color: #BF1E2E;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.75em;
        padding: 0 0 5px 0; }
      footer .contact-info .sub-col p {
        font-family: "News Cycle", sans-serif;
        font-weight: bold;
        font-size: 0.875em;
        line-height: 1.5em; }
      footer .contact-info .sub-col p + h4 {
        padding-top: 30px; }
      footer .contact-info .sub-col a:hover {
        color: #BF1E2E; }
    footer .contact-info .social {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      @media screen and (min-width: 568px) {
        footer .contact-info .social {
          justify-content: flex-end; } }
      @media screen and (min-width: 768px) {
        footer .contact-info .social {
          justify-content: flex-start; } }
      @media screen and (min-width: 1280px) {
        footer .contact-info .social {
          padding-top: 50px; } }
      footer .contact-info .social h4 {
        width: 100%;
        color: #2a2a2a;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.75em;
        padding: 0 0 15px 0;
        font-weight: bold; }
      footer .contact-info .social a {
        display: block;
        width: 100%;
        max-width: 24px; }
        footer .contact-info .social a + a {
          margin-left: 20px; }
        footer .contact-info .social a img {
          width: 100%;
          height: 24px;
          max-width: 24px;
          max-height: 20px; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#hero .slick-dots {
  bottom: -40px;
  z-index: 10; }
  body.home section#hero .slick-dots li button:before {
    background: #2a2a2a;
    opacity: 0.2; }
  body.home section#hero .slick-dots li.slick-active button:before {
    background: #2a2a2a;
    opacity: 1; }

body.home section#hero .photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

body.home section#hero .caption {
  background: #BF1E2E;
  color: #fff;
  padding: 10px 20px; }
  @media screen and (min-width: 768px) {
    body.home section#hero .caption {
      transform: translateY(-20px);
      padding: 20px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      transform: translateY(0px);
      max-width: 400px; } }
  body.home section#hero .caption p {
    font-size: 0.8125em;
    line-height: 1.375em;
    font-style: italic; }
    @media screen and (min-width: 568px) {
      body.home section#hero .caption p {
        font-size: 0.875em; } }

body.home section#about-statement {
  padding: 90px 0 50px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.home section#about-statement {
      padding: 100px 0; } }
  body.home section#about-statement .wrapper {
    max-width: 800px; }
  body.home section#about-statement p {
    font-size: 0.9375em;
    line-height: 1.8; }
    @media screen and (min-width: 768px) {
      body.home section#about-statement p {
        font-size: 1.25em; } }

body.home section#our-firm {
  position: relative;
  margin-top: 100px; }
  @media screen and (min-width: 768px) {
    body.home section#our-firm {
      margin-top: 150px; }
      body.home section#our-firm .inset {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
      body.home section#our-firm .wrapper {
        height: 100%;
        padding: 0; } }
  body.home section#our-firm .wrapper {
    padding: 0; }
    @media screen and (min-width: 768px) {
      body.home section#our-firm .wrapper {
        padding: 0 25px; } }
    @media screen and (min-width: 1250px) {
      body.home section#our-firm .wrapper {
        padding: 0; } }
  body.home section#our-firm .info {
    background: #BF1E2E;
    color: #fff;
    padding: 20px; }
    @media screen and (min-width: 768px) {
      body.home section#our-firm .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 640px;
        position: absolute;
        bottom: 20px;
        left: 45px; }
        body.home section#our-firm .info .copy {
          max-width: 400px;
          padding-right: 40px; } }
    @media screen and (min-width: 1280px) {
      body.home section#our-firm .info {
        left: 20px; } }
    body.home section#our-firm .info h3 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 0 0 10px 0; }
    body.home section#our-firm .info p {
      font-size: 0.8125em;
      line-height: 1.375em;
      font-style: italic;
      padding: 0 0 20px 0; }
      @media screen and (min-width: 568px) {
        body.home section#our-firm .info p {
          font-size: 0.875em; } }
      @media screen and (min-width: 768px) {
        body.home section#our-firm .info p {
          padding: 0; } }
    body.home section#our-firm .info a.learn-more {
      color: #fff;
      font-family: "News Cycle", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.75em;
      border: 1px solid;
      display: inline-block;
      padding: 10px 20px; }
      body.home section#our-firm .info a.learn-more:hover {
        background: #fff;
        color: #BF1E2E; }

body.home section#blog {
  padding: 100px 0; }
  @media screen and (min-width: 768px) {
    body.home section#blog {
      padding: 150px 0 100px 0; } }
  body.home section#blog .posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px; }
    @media screen and (min-width: 568px) {
      body.home section#blog .posts {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 768px) {
      body.home section#blog .posts {
        grid-template-columns: 1fr 1fr 1fr; } }

body.page-template-about section#hero {
  position: relative;
  max-height: 1024px; }
  body.page-template-about section#hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  body.page-template-about section#hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

body.page-template-about section#main .header {
  padding: 0 0 50px 0; }

body.page-template-about section#main section#about-copy {
  margin: 0 auto;
  max-width: 960px;
  text-align: center; }
  body.page-template-about section#main section#about-copy p {
    font-size: 1em;
    line-height: 1.8em; }
    @media screen and (min-width: 768px) {
      body.page-template-about section#main section#about-copy p {
        font-size: 1.1875em; } }
    body.page-template-about section#main section#about-copy p + p {
      padding: 50px 0 0 0; }

body.page-template-about section#main section#mission-statement {
  padding: 100px 0 125px 0;
  margin: 0 auto;
  max-width: 840px;
  text-align: center; }
  body.page-template-about section#main section#mission-statement p {
    font-size: 1.75em;
    line-height: 1.3333em;
    color: #BF1E2E;
    font-family: "News Cycle", sans-serif; }
    @media screen and (min-width: 768px) {
      body.page-template-about section#main section#mission-statement p {
        font-size: 2.25em; } }
    @media screen and (min-width: 1280px) {
      body.page-template-about section#main section#mission-statement p {
        font-size: 3em; } }

body.page-template-about section#main section#team .header {
  padding-bottom: 0; }

body.page-template-about section#main section#team .people-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 50px 30px; }
  body.page-template-about section#main section#team .people-list .people {
    text-align: center; }
    body.page-template-about section#main section#team .people-list .people:hover .photo a img {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }
    body.page-template-about section#main section#team .people-list .people .photo a {
      display: block; }
      body.page-template-about section#main section#team .people-list .people .photo a img {
        margin: 0 auto;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        transition: all 0.5s ease-in-out; }
    body.page-template-about section#main section#team .people-list .people .info {
      padding: 20px 0 0 0; }
      body.page-template-about section#main section#team .people-list .people .info h4 {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.125em;
        padding: 0 0 15px 0; }
        body.page-template-about section#main section#team .people-list .people .info h4 a {
          color: #434758; }
      body.page-template-about section#main section#team .people-list .people .info h5 {
        font-family: "Libre Baskerville", serif;
        font-weight: normal;
        font-size: 0.75em;
        font-style: italic; }

body.page-template-case-studies section#projects .header {
  padding-bottom: 100px; }

body.page-template-clients section#main .header {
  padding: 0 0 50px 0; }

body.page-template-clients section#main .copy {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  padding: 0 0 100px 0; }
  body.page-template-clients section#main .copy p {
    font-size: 1.1875em;
    line-height: 1.8em; }
    body.page-template-clients section#main .copy p + p {
      padding: 50px 0 0 0; }

body.page-template-clients section#main section.client-list + section.client-list {
  padding: 150px 0 0 0; }

body.page-template-clients section#main section.client-list .header {
  padding: 0; }

body.page-template-clients section#main section.client-list .toggle {
  text-align: center;
  padding: 0 0 20px 0; }
  @media screen and (min-width: 568px) {
    body.page-template-clients section#main section.client-list .toggle {
      display: none; } }
  body.page-template-clients section#main section.client-list .toggle .show {
    display: inline-block;
    font-family: "News Cycle", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #BF1E2E;
    transform: translateY(-20px); }

body.page-template-clients section#main section.client-list .list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 50px;
  text-align: center;
  align-items: center; }
  body.page-template-clients section#main section.client-list .list.hide {
    display: none; }
    @media screen and (min-width: 568px) {
      body.page-template-clients section#main section.client-list .list.hide {
        display: grid !important; } }
  @media screen and (min-width: 568px) {
    body.page-template-clients section#main section.client-list .list {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    body.page-template-clients section#main section.client-list .list {
      grid-template-columns: 1fr 1fr 1fr; } }
  body.page-template-clients section#main section.client-list .list .logo {
    max-width: 150px;
    margin: 0 auto;
    padding: 0 0 20px 0; }

body.page-template-clients section#main section#where-we-work {
  padding: 150px 0 0 0; }
  body.page-template-clients section#main section#where-we-work .header {
    padding: 0; }
  body.page-template-clients section#main section#where-we-work .copy {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 75px 0; }
    body.page-template-clients section#main section#where-we-work .copy p {
      font-size: 1.1875em;
      line-height: 1.8em; }

body.page-template-press section#main {
  padding-bottom: 50px; }
  body.page-template-press section#main .header {
    padding: 0 0 25px 0; }
  body.page-template-press section#main section.press-copy {
    margin: 0 auto;
    max-width: 640px;
    text-align: center;
    padding-bottom: 75px; }
    body.page-template-press section#main section.press-copy p {
      font-size: 1em;
      line-height: 1.8em; }
      body.page-template-press section#main section.press-copy p + p {
        padding: 50px 0 0 0; }
  body.page-template-press section#main section.press-clippings {
    text-align: center;
    max-width: 480px;
    margin: 0 auto; }
    body.page-template-press section#main section.press-clippings .press-clip + .press-clip {
      margin-top: 75px; }
    body.page-template-press section#main section.press-clippings .press-clip a span.publication {
      display: block;
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: bold;
      padding-bottom: 5px;
      font-size: 0.8125rem;
      color: #BF1E2E; }
      @media screen and (min-width: 768px) {
        body.page-template-press section#main section.press-clippings .press-clip a span.publication {
          font-size: 0.9375rem; } }
    body.page-template-press section#main section.press-clippings .press-clip a span.article {
      display: block;
      line-height: 1.5em;
      font-size: 1.125rem; }
      @media screen and (min-width: 768px) {
        body.page-template-press section#main section.press-clippings .press-clip a span.article {
          font-size: 1.375rem; } }
    body.page-template-press section#main section.press-clippings .press-clip a span.date {
      font-style: normal;
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 0.1em;
      font-weight: bold;
      display: block;
      padding-top: 5px; }
    body.page-template-press section#main section.press-clippings .press-clip a:hover span.article {
      text-decoration: underline; }

body.page-template-contact section#main {
  padding-bottom: 100px; }
  body.page-template-contact section#main .header {
    padding: 0 0 50px 0; }
  body.page-template-contact section#main section#contact-info {
    text-align: center; }
    body.page-template-contact section#main section#contact-info h4 {
      color: #BF1E2E;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.875em;
      padding: 0 0 10px 0; }
    body.page-template-contact section#main section#contact-info p {
      font-size: 1em;
      line-height: 1.5em; }
      body.page-template-contact section#main section#contact-info p a {
        display: inline-block;
        border-bottom: 1px dotted; }
    body.page-template-contact section#main section#contact-info p + h4 {
      padding-top: 50px; }
  body.page-template-contact section#main section#job-openings {
    text-align: center;
    padding-top: 100px; }
    body.page-template-contact section#main section#job-openings .header.center {
      padding: 0; }
      body.page-template-contact section#main section#job-openings .header.center h3.section-header {
        margin-bottom: 25px; }
    body.page-template-contact section#main section#job-openings .job + .job {
      padding-top: 15px; }
    body.page-template-contact section#main section#job-openings .job a {
      display: inline-block;
      font-family: "News Cycle", sans-serif;
      font-weight: bold;
      border-bottom: 1px dotted;
      padding-bottom: 3px; }
  body.page-template-contact section#main section#contact-form {
    padding-top: 100px; }
    body.page-template-contact section#main section#contact-form .header.center {
      padding: 0; }
    body.page-template-contact section#main section#contact-form .wpforms-container {
      max-width: 480px;
      margin: 0 auto;
      background: #fff;
      padding: 40px;
      border-radius: 5px;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.08); }
    body.page-template-contact section#main section#contact-form .wpforms-field-label {
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.875em; }
    body.page-template-contact section#main section#contact-form .wpforms-field {
      padding: 0; }
      body.page-template-contact section#main section#contact-form .wpforms-field + .wpforms-field {
        padding-top: 35px; }
    body.page-template-contact section#main section#contact-form .wpforms-field-medium {
      max-width: 100%; }
    body.page-template-contact section#main section#contact-form .wpforms-submit-container {
      padding: 35px 0 0 0; }
      body.page-template-contact section#main section#contact-form .wpforms-submit-container button[type=submit] {
        background: #BF1E2E;
        color: #fff;
        font-family: "News Cycle", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.875em;
        font-weight: bold;
        border: none;
        padding: 10px 20px; }
    body.page-template-contact section#main section#contact-form .wpforms-error {
      padding: 10px 0 5px 0; }

body.page-template-contact section#map a {
  display: block;
  position: relative; }
  body.page-template-contact section#map a:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 41.66667%; }
  body.page-template-contact section#map a > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

body.page-template-contact footer {
  padding-top: 0; }
  body.page-template-contact footer .col-wrapper {
    border-top: none; }

body.post-type-archive-projects section#main {
  text-align: center;
  padding: 75px 0; }
  body.post-type-archive-projects section#main .header {
    text-align: center;
    padding: 0 0 50px 0; }
  body.post-type-archive-projects section#main .filters {
    text-align: left;
    margin-bottom: 50px; }
    body.post-type-archive-projects section#main .filters .filter-wrapper {
      display: none;
      padding: 50px 0 25px 0; }
    body.post-type-archive-projects section#main .filters .flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    body.post-type-archive-projects section#main .filters .header {
      width: 100%;
      text-align: left;
      padding: 0 0 10px 0;
      border-bottom: 2px solid #d9d9d9; }
      body.post-type-archive-projects section#main .filters .header h3 {
        font-weight: 400;
        font-family: "Libre Baskerville", serif;
        letter-spacing: -0.02em;
        color: #2a2a2a;
        font-size: 1.5em; }
        body.post-type-archive-projects section#main .filters .header h3 span {
          color: #BF1E2E;
          display: inline-block;
          transition: all 0.3s ease-in-out; }
        body.post-type-archive-projects section#main .filters .header h3 a.active span {
          transform: rotate(45deg); }
    body.post-type-archive-projects section#main .filters .filter {
      width: 100%; }
      body.post-type-archive-projects section#main .filters .filter + .filter {
        padding-top: 50px; }
      @media screen and (min-width: 568px) {
        body.post-type-archive-projects section#main .filters .filter {
          width: 48%; }
          body.post-type-archive-projects section#main .filters .filter + .filter {
            padding-top: 0; }
          body.post-type-archive-projects section#main .filters .filter.phase, body.post-type-archive-projects section#main .filters .filter.location {
            padding-top: 50px; } }
      @media screen and (min-width: 1024px) {
        body.post-type-archive-projects section#main .filters .filter {
          width: 23%; }
          body.post-type-archive-projects section#main .filters .filter.phase, body.post-type-archive-projects section#main .filters .filter.location {
            padding-top: 0; } }
      body.post-type-archive-projects section#main .filters .filter h4 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 0.875em;
        color: #BF1E2E;
        padding: 0 0 10px 0; }
      body.post-type-archive-projects section#main .filters .filter.year select, body.post-type-archive-projects section#main .filters .filter.location select {
        width: 80%; }
      body.post-type-archive-projects section#main .filters .filter.year .before-after {
        border: 1px solid #BF1E2E;
        border-radius: 3px;
        margin: 0 0 20px 0;
        float: left; }
        body.post-type-archive-projects section#main .filters .filter.year .before-after a {
          text-transform: uppercase;
          font-family: "News Cycle", sans-serif;
          color: #BF1E2E;
          font-weight: bold;
          font-size: 0.75em;
          line-height: 1.125em;
          letter-spacing: 0.05em;
          display: block;
          float: left;
          padding: 7px 14px;
          transition: all 0.2s ease-in-out; }
          body.post-type-archive-projects section#main .filters .filter.year .before-after a.active, body.post-type-archive-projects section#main .filters .filter.year .before-after a:hover {
            background: #BF1E2E;
            color: #fff; }

body.single-projects section#page-header {
  padding: 75px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.single-projects section#page-header {
      padding: 75px 0; } }
  body.single-projects section#page-header h2 {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    padding: 20px 0 0 0; }
    @media screen and (min-width: 768px) {
      body.single-projects section#page-header h2 {
        font-size: 1.125em; } }

body.single-projects section#content .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

body.single-projects section#content article {
  width: 100%;
  order: 2; }
  @media screen and (min-width: 768px) {
    body.single-projects section#content article {
      width: 53.3333%;
      order: 1; } }
  body.single-projects section#content article section.copy + section.copy {
    padding-top: 50px; }
  body.single-projects section#content article section.copy h3.section-header {
    margin-bottom: 25px; }
  body.single-projects section#content article #gallery {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap; }
    body.single-projects section#content article #gallery .header {
      width: 100%; }
    body.single-projects section#content article #gallery .image {
      width: 100%;
      padding: 5px; }
      @media screen and (min-width: 568px) {
        body.single-projects section#content article #gallery .image {
          width: 50%; } }
      @media screen and (min-width: 768px) {
        body.single-projects section#content article #gallery .image {
          width: 33.3333%; } }

body.single-projects section#content aside {
  width: 100%;
  order: 1;
  padding: 0 0 75px 0; }
  @media screen and (min-width: 768px) {
    body.single-projects section#content aside {
      width: 31.6666%;
      order: 2;
      padding: 0; } }
  body.single-projects section#content aside #details {
    padding: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
    body.single-projects section#content aside #details .fact + .fact {
      padding-top: 40px; }
    body.single-projects section#content aside #details .fact h4 {
      text-transform: uppercase;
      padding: 0 0 10px 0;
      letter-spacing: 0.05em;
      font-size: 1em; }
    body.single-projects section#content aside #details .fact p, body.single-projects section#content aside #details .fact li {
      font-size: 0.8125em;
      line-height: 1.5em; }
    body.single-projects section#content aside #details .fact .skills-wrapper {
      display: flex;
      flex-wrap: wrap; }
      body.single-projects section#content aside #details .fact .skills-wrapper a {
        display: block;
        font-family: "News Cycle", sans-serif;
        font-size: 0.875em;
        background: #BF1E2E;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 7px 10px 8px 10px;
        margin: 0 10px 10px 0; }
    body.single-projects section#content aside #details .fact.key-facts a {
      text-decoration: underline; }
    body.single-projects section#content aside #details .fact.key-facts ul, body.single-projects section#content aside #details .fact.services ul {
      list-style-type: disc;
      padding: 0 0 0 20px; }
    body.single-projects section#content aside #details .fact.key-facts li, body.single-projects section#content aside #details .fact.services li {
      font-size: 0.8125em;
      line-height: 1.5em; }
      body.single-projects section#content aside #details .fact.key-facts li a, body.single-projects section#content aside #details .fact.services li a {
        text-decoration: underline; }
      body.single-projects section#content aside #details .fact.key-facts li + li, body.single-projects section#content aside #details .fact.services li + li {
        margin-top: 10px; }
      body.single-projects section#content aside #details .fact.key-facts li.analysis-strategy, body.single-projects section#content aside #details .fact.key-facts li.pre-development-implementation, body.single-projects section#content aside #details .fact.services li.analysis-strategy, body.single-projects section#content aside #details .fact.services li.pre-development-implementation {
        display: none; }

body.single-projects section#related-projects {
  text-align: center;
  padding-top: 75px; }
  body.single-projects section#related-projects .project-list {
    padding: 20px 0 0 0; }

body.single-projects .bilderrahmen-wrapper {
  background: rgba(255, 255, 255, 0.9); }
  body.single-projects .bilderrahmen-wrapper .bilderrahmen--image-img {
    margin: 0 auto; }
  body.single-projects .bilderrahmen-wrapper .bilderrahmen--top-title {
    display: none; }
  body.single-projects .bilderrahmen-wrapper .bilderrahmen--image {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; }
  body.single-projects .bilderrahmen-wrapper .bilderrahmen--image-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; }
  body.single-projects .bilderrahmen-wrapper .bilderrahmen--image-inner-wrap {
    max-width: 80%;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center; }

body.single-projects .bilderrahmen--left--has-previous:hover,
body.single-projects .bilderrahmen--right--has-next:hover,
body.single-projects .bilderrahmen--top-close:hover {
  background: none; }

body.single-projects .bilderrahmen--top {
  z-index: 10000; }

body.single-projects .bilderrahmen--top-close {
  background: #fff url(images/close.svg) no-repeat 50%;
  background-size: 100%;
  top: 20px;
  right: 20px; }
  body.single-projects .bilderrahmen--top-close:hover {
    background: #fff url(images/close.svg) no-repeat 50%;
    background-size: 100%; }

body.single-projects .bilderrahmen--left {
  left: 20px;
  z-index: 10000;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-24px); }

body.single-projects .bilderrahmen--right {
  right: 20px;
  z-index: 10000;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-24px); }

body.single-projects .bilderrahmen--right--has-next {
  background: url(images/next.svg) no-repeat 0 0;
  background-size: 100%; }
  body.single-projects .bilderrahmen--right--has-next:hover {
    background: url(images/next.svg) no-repeat 0 0;
    background-size: 100%; }

body.single-projects .bilderrahmen--left--has-previous {
  background: url(images/prev.svg) no-repeat 0 0;
  background-size: 100%; }
  body.single-projects .bilderrahmen--left--has-previous:hover {
    background: url(images/prev.svg) no-repeat 0 0;
    background-size: 100%; }

body.projects-template-case-study section#page-header {
  padding: 75px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section#page-header {
      padding: 75px 0; } }
  body.projects-template-case-study section#page-header h3 {
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    padding: 0 0 10px 0;
    color: #7B7977; }
  body.projects-template-case-study section#page-header h2 {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    padding: 20px 0 0 0; }
    @media screen and (min-width: 768px) {
      body.projects-template-case-study section#page-header h2 {
        font-size: 1.125em; } }

body.projects-template-case-study section#prologue,
body.projects-template-case-study section#epilogue {
  text-align: center; }
  body.projects-template-case-study section#prologue .wrapper,
  body.projects-template-case-study section#epilogue .wrapper {
    max-width: 960px; }
  body.projects-template-case-study section#prologue .info,
  body.projects-template-case-study section#epilogue .info {
    padding: 50px 0 0 0; }
  body.projects-template-case-study section#prologue .section-header-center,
  body.projects-template-case-study section#epilogue .section-header-center {
    padding: 0 0 25px 0; }
    body.projects-template-case-study section#prologue .section-header-center h3.section-header,
    body.projects-template-case-study section#epilogue .section-header-center h3.section-header {
      margin: 0; }
  body.projects-template-case-study section#prologue p,
  body.projects-template-case-study section#epilogue p {
    font-size: 1.125em;
    line-height: 1.5em; }
    @media screen and (min-width: 768px) {
      body.projects-template-case-study section#prologue p,
      body.projects-template-case-study section#epilogue p {
        font-size: 1.5em; } }
    body.projects-template-case-study section#prologue p + p,
    body.projects-template-case-study section#epilogue p + p {
      padding-top: 50px; }

body.projects-template-case-study section#prologue {
  padding: 50px 0 100px 0; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section#prologue {
      padding: 50px 0 150px 0; } }

body.projects-template-case-study section#epilogue {
  padding: 100px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section#epilogue {
      padding: 150px 0 0 0; } }

body.projects-template-case-study section.case-study > section + section {
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.case-study > section + section {
      padding-top: 100px; } }

body.projects-template-case-study section.case-study section.full-width-inset {
  padding-top: 0;
  margin-top: 50px; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.case-study section.full-width-inset {
      margin-top: 100px; } }

body.projects-template-case-study section.case-study section.section-header-center + section {
  padding-top: 50px; }

body.projects-template-case-study section.case-study section + section.section-header-center {
  padding-top: 100px; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.case-study section + section.section-header-center {
      padding-top: 150px; } }

body.projects-template-case-study section.side-by-side .info h3,
body.projects-template-case-study section.two-column .info h3,
body.projects-template-case-study section.three-column .info h3,
body.projects-template-case-study section.text .info h3 {
  padding: 0 0 10px 0;
  font-size: 1.125em;
  color: #434758; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.side-by-side .info h3,
    body.projects-template-case-study section.two-column .info h3,
    body.projects-template-case-study section.three-column .info h3,
    body.projects-template-case-study section.text .info h3 {
      font-size: 1.25em; } }
  @media screen and (min-width: 1024px) {
    body.projects-template-case-study section.side-by-side .info h3,
    body.projects-template-case-study section.two-column .info h3,
    body.projects-template-case-study section.three-column .info h3,
    body.projects-template-case-study section.text .info h3 {
      font-size: 1.5em; } }

body.projects-template-case-study section.side-by-side .info p,
body.projects-template-case-study section.two-column .info p,
body.projects-template-case-study section.three-column .info p,
body.projects-template-case-study section.text .info p {
  font-size: 0.875em;
  line-height: 1.5em; }
  @media screen and (min-width: 1024px) {
    body.projects-template-case-study section.side-by-side .info p,
    body.projects-template-case-study section.two-column .info p,
    body.projects-template-case-study section.three-column .info p,
    body.projects-template-case-study section.text .info p {
      font-size: 1em; } }
  body.projects-template-case-study section.side-by-side .info p + p,
  body.projects-template-case-study section.two-column .info p + p,
  body.projects-template-case-study section.three-column .info p + p,
  body.projects-template-case-study section.text .info p + p {
    padding-top: 25px; }

body.projects-template-case-study section.section-header-center h3.section-header {
  margin: 0; }

@media screen and (min-width: 768px) {
  body.projects-template-case-study section.side-by-side + section.side-by-side {
    padding-top: 0; } }

body.projects-template-case-study section.side-by-side .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

body.projects-template-case-study section.side-by-side .info {
  width: 100%;
  padding: 0 0 20px 0; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.side-by-side .info {
      width: 50%;
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media screen and (min-width: 1024px) {
    body.projects-template-case-study section.side-by-side .info {
      padding: 50px; } }

body.projects-template-case-study section.side-by-side .image {
  width: 100%; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.side-by-side .image {
      width: 50%; } }
  body.projects-template-case-study section.side-by-side .image img {
    width: 100%; }

@media screen and (min-width: 768px) {
  body.projects-template-case-study section.side-by-side.left .image {
    order: -1; } }

body.projects-template-case-study section.two-column .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

body.projects-template-case-study section.two-column .col {
  width: 100%; }
  body.projects-template-case-study section.two-column .col + .col {
    padding-top: 50px; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study section.two-column .col {
      width: 47.5%; }
      body.projects-template-case-study section.two-column .col + .col {
        padding-top: 0; } }
  body.projects-template-case-study section.two-column .col .info {
    padding: 20px 0 0 0; }

body.projects-template-case-study section.text {
  text-align: center; }
  body.projects-template-case-study section.text .wrapper {
    max-width: 640px; }

body.projects-template-case-study section.full-width-inset {
  position: relative;
  max-height: 768px; }
  body.projects-template-case-study section.full-width-inset:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  body.projects-template-case-study section.full-width-inset > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  body.projects-template-case-study section.full-width-inset .wrapper {
    position: relative;
    height: 100%; }

body.projects-template-case-study .inset {
  background: #BF1E2E;
  color: #fff;
  padding: 20px; }
  body.projects-template-case-study .inset.desktop {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 80%;
    display: none; }
    @media screen and (min-width: 768px) {
      body.projects-template-case-study .inset.desktop {
        max-width: 400px;
        right: 0;
        bottom: 20px;
        display: block; } }
  body.projects-template-case-study .inset.mobile {
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      body.projects-template-case-study .inset.mobile {
        display: none; } }
  body.projects-template-case-study .inset h3 {
    font-size: 1em;
    padding: 0 0 10px 0; }
  body.projects-template-case-study .inset p {
    font-size: 0.75em;
    line-height: 1.25em;
    font-style: italic; }

body.projects-template-case-study .inset + section {
  padding-top: 100px; }
  @media screen and (min-width: 768px) {
    body.projects-template-case-study .inset + section {
      padding-top: 150px; } }

body.single-services section#main .header.page {
  padding: 0 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.single-services section#main .header.page h1.page-header {
      font-size: 2em; } }

body.single-services section#main .description {
  padding: 0 0 125px 0;
  max-width: 960px;
  margin: 0 auto;
  text-align: center; }
  body.single-services section#main .description p {
    font-size: 0.875em;
    line-height: 1.8em; }
    @media screen and (min-width: 768px) {
      body.single-services section#main .description p {
        font-size: 1.1875em; } }
    body.single-services section#main .description p + p {
      padding: 50px 0 0 0; }

body.single-services section#main .service-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 100px 50px; }
  @media screen and (min-width: 568px) {
    body.single-services section#main .service-list {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    body.single-services section#main .service-list {
      grid-template-columns: 1fr 1fr 1fr; } }
  body.single-services section#main .service-list .service {
    text-align: center; }
    body.single-services section#main .service-list .service .photo a {
      display: block;
      position: relative;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transition: all 0.5s ease-in-out; }
      body.single-services section#main .service-list .service .photo a:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 74.87179%; }
      body.single-services section#main .service-list .service .photo a > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      body.single-services section#main .service-list .service .photo a:hover {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    body.single-services section#main .service-list .service .info {
      padding: 20px; }
      body.single-services section#main .service-list .service .info h4 {
        font-size: 1em;
        line-height: 1.1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        max-width: 640px;
        margin: 0 auto; }
      body.single-services section#main .service-list .service .info .excerpt {
        padding: 20px 0 0 0;
        max-width: 320px;
        margin: 0 auto; }
        body.single-services section#main .service-list .service .info .excerpt p {
          font-size: 0.875em;
          line-height: 1.5em; }
      body.single-services section#main .service-list .service .info .read-more {
        padding: 20px 0 0 0; }
        body.single-services section#main .service-list .service .info .read-more a {
          color: #BF1E2E;
          font-family: "News Cycle", sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.875em; }
          body.single-services section#main .service-list .service .info .read-more a:hover {
            text-decoration: underline; }

body.post-type-archive-skills section#main .header {
  text-align: center;
  padding: 0 0 100px 0; }

body.single-skills section#main .header {
  padding: 0 0 25px 0; }

body.single-skills section#main .description {
  max-width: 840px;
  margin: 0 auto;
  text-align: center; }
  body.single-skills section#main .description p {
    font-size: 1.125em;
    line-height: 1.6em; }

body.single-skills section#main .project-list {
  padding: 50px 0 0 0; }

body.single-people section#page-header {
  padding: 75px 0;
  text-align: center; }
  body.single-people section#page-header h2 {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    padding: 20px 0 0 0; }
    @media screen and (min-width: 768px) {
      body.single-people section#page-header h2 {
        font-size: 1.125em; } }
  body.single-people section#page-header .bio-leader {
    padding: 50px 0 0 0;
    margin: 0 auto;
    max-width: 640px; }
    body.single-people section#page-header .bio-leader p {
      font-size: 1em;
      line-height: 1.5em; }
      @media screen and (min-width: 768px) {
        body.single-people section#page-header .bio-leader p {
          font-size: 1.125em; } }

body.single-people section#profile .wrapper {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  body.single-people section#profile .wrapper aside {
    width: 100%;
    padding: 0 0 50px 0; }
    @media screen and (min-width: 768px) {
      body.single-people section#profile .wrapper aside {
        width: 40%;
        padding: 0; } }
  body.single-people section#profile .wrapper article {
    width: 100%; }
    @media screen and (min-width: 768px) {
      body.single-people section#profile .wrapper article {
        width: 55%; } }

body.single-people section#profile h4 {
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.05em;
  color: #BF1E2E;
  padding: 0 0 10px 0; }

body.single-people section#profile aside > div + div {
  padding-top: 50px; }

body.single-people section#profile aside .education .degree h3 {
  font-size: 1em;
  line-height: 1.125em;
  padding: 0 0 5px 0; }

body.single-people section#profile aside .education .degree p {
  font-size: 0.875em;
  line-height: 1.5em; }

body.single-people section#profile aside .education .degree + .degree {
  padding: 25px 0 0 0; }

body.single-people section#profile aside .skill-highlights .skill + .skill {
  padding: 15px 0 0 0; }

body.single-people section#profile aside .skill-highlights .skill h3 {
  font-size: 1em; }

body.single-people section#profile aside .professional-affiliations .affiliation + .affiliation {
  padding: 15px 0 0 0; }

body.single-people section#profile aside .professional-affiliations .affiliation h3 {
  font-size: 1em; }

body.single-people section#profile article {
  padding: 25px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.single-people section#profile article {
      padding: 0; } }
  body.single-people section#profile article > div + div {
    padding-top: 50px; }
  body.single-people section#profile article .social .links a img {
    display: block;
    width: 100%;
    max-width: 32px; }
  body.single-people section#profile article .bio p {
    font-size: 0.875em;
    line-height: 1.5em; }
    body.single-people section#profile article .bio p + p {
      padding: 25px 0 0 0; }

body.single-people section#related-projects {
  padding: 75px 0 0 0;
  text-align: center; }

body.blog section#main .header {
  padding: 0 0 75px 0; }

body.blog .posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px; }
  @media screen and (min-width: 568px) {
    body.blog .posts {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    body.blog .posts {
      grid-template-columns: 1fr 1fr 1fr; } }

body.blog nav.pagination {
  margin: 75px 0 0 0;
  border-top: 1px solid #d9d9d9;
  padding: 25px 0 0 0;
  display: flex;
  justify-content: center; }
  body.blog nav.pagination h2.screen-reader-text {
    display: none; }
  body.blog nav.pagination .nav-links {
    display: flex; }
    body.blog nav.pagination .nav-links span.current,
    body.blog nav.pagination .nav-links a.page-numbers {
      display: inline-block;
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 0.875em;
      letter-spacing: 0.05em;
      padding: 0 10px; }
    body.blog nav.pagination .nav-links span.current {
      color: #BF1E2E; }
    body.blog nav.pagination .nav-links a.page-numbers:hover {
      color: #BF1E2E; }

body.single-post .featured-image img {
  margin: 0 auto; }

body.single-post .header {
  padding: 75px 0; }
  body.single-post .header h4 {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: normal;
    color: #b5b5b5;
    font-size: 0.875em;
    padding: 0 0 20px 0; }
  body.single-post .header .author {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    body.single-post .header .author .photo {
      padding: 0 0 0 10px;
      max-width: 106px; }
      body.single-post .header .author .photo img {
        border-radius: 50%;
        border: 3px solid #fff; }
    body.single-post .header .author .info {
      padding: 0 0 0 10px;
      text-align: left; }
      body.single-post .header .author .info h5 {
        font-size: 1.125em; }
        body.single-post .header .author .info h5 a:hover {
          color: #BF1E2E; }
      body.single-post .header .author .info h6 {
        font-family: "Libre Baskerville", serif;
        font-style: italic;
        font-weight: normal;
        font-size: 0.8125em;
        padding: 10px 0 0 0; }

body.single-post .body {
  max-width: 800px;
  margin: 0 auto; }
  body.single-post .body p {
    font-size: 1em;
    line-height: 1.75em;
    margin: 0 0 45px 0; }
    @media screen and (min-width: 768px) {
      body.single-post .body p {
        font-size: 1.125em; } }
  body.single-post .body ul, body.single-post .body ol {
    font-size: 1em;
    line-height: 1.75em;
    margin: 0 0 45px 45px;
    max-width: 80%; }
    @media screen and (min-width: 768px) {
      body.single-post .body ul, body.single-post .body ol {
        font-size: 1.125em; } }
    body.single-post .body ul li + li, body.single-post .body ol li + li {
      padding: 10px 0 0 0; }
  body.single-post .body ul {
    list-style-type: disc; }
  body.single-post .body ol {
    list-style-type: decimal; }
  body.single-post .body blockquote {
    padding: 0 0 0 45px;
    margin: 0 0 45px 0;
    position: relative; }
    body.single-post .body blockquote p, body.single-post .body blockquote a {
      margin: 0;
      font-weight: 300;
      font-size: 1.375em;
      font-style: italic;
      line-height: 1.5em;
      text-decoration: none; }
  body.single-post .body h1, body.single-post .body h2 {
    font-weight: 900;
    font-size: 1.5em;
    padding: 0 0 10px 0;
    color: #434758; }
  body.single-post .body h3 {
    font-weight: 900;
    font-size: 1.25em;
    padding: 0 0 10px 0;
    color: #434758; }
  body.single-post .body h4, body.single-post .body h5, body.single-post .body h6 {
    font-weight: 900;
    font-size: 1em;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #434758; }
  body.single-post .body div.wp-caption {
    padding: 25px 0 35px 0; }
    body.single-post .body div.wp-caption p {
      color: #A9A9A9;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      padding: 30px 0 0 0;
      font-style: italic; }
    body.single-post .body div.wp-caption img {
      width: auto !important;
      height: auto !important; }
  body.single-post .body a {
    text-decoration: underline;
    color: #BF1E2E; }

/*

    ----------------------------------------------------------------------
                               04 Partials
    ----------------------------------------------------------------------

*/
.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 30px; }
  @media screen and (min-width: 568px) {
    .project-list {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    .project-list {
      grid-template-columns: 1fr 1fr 1fr; } }
  .project-list .project .photo a {
    display: block;
    position: relative;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    transition: all 0.5s ease-in-out; }
    .project-list .project .photo a:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 74.87179%; }
    .project-list .project .photo a > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .project-list .project .photo a:hover {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }
  .project-list .project .info {
    text-align: center;
    padding: 20px; }
    .project-list .project .info h4 {
      font-size: 1em;
      line-height: 1.1em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      max-width: 640px;
      margin: 0 auto; }
    .project-list .project .info h5 {
      font-family: "Libre Baskerville", serif;
      font-style: italic;
      font-weight: normal;
      font-size: 0.8125em;
      padding: 15px 0 0 0; }
  .project-list .project-none {
    text-align: left; }
    .project-list .project-none h3 {
      font-weight: bold;
      font-size: 1.25em; }

section#skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 75px 100px; }
  section#skill-list .skill h4 {
    font-size: 1.25em;
    padding: 0 0 10px 0; }
  section#skill-list .skill .description {
    padding: 0 0 0 20px; }
    section#skill-list .skill .description p {
      font-size: 0.75em;
      line-height: 1.7em;
      padding: 0 0 20px 0; }
    section#skill-list .skill .description a {
      font-family: "News Cycle", sans-serif;
      font-weight: bold;
      font-size: 0.75em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #2a2a2a;
      display: inline-block;
      border-bottom: 1px solid #BF1E2E;
      padding: 0 0 3px 0; }

article.blog-preview .info {
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  margin: 0 auto;
  transform: translateY(-25px); }
  article.blog-preview .info h4 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.75em;
    color: #b5b5b5;
    padding: 0 0 5px 0; }
  article.blog-preview .info h3 {
    font-size: 1.125em;
    padding: 0 0 20px 0; }
    article.blog-preview .info h3 a:hover {
      color: #BF1E2E; }
  article.blog-preview .info p {
    font-size: 0.8125em;
    line-height: 1.375em; }
  article.blog-preview .info a.read-more {
    color: #BF1E2E;
    font-family: "News Cycle", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    display: inline-block;
    margin: 10px 0 0 0; }
    article.blog-preview .info a.read-more:hover {
      text-decoration: underline; }

section.consult-overlay {
  display: none; }
  section.consult-overlay .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    background: rgba(255, 255, 255, 0.9);
    overflow: scroll; }
    section.consult-overlay .overlay-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      padding: 20px; }
      @media screen and (min-width: 768px) {
        section.consult-overlay .overlay-wrapper {
          padding: 80px 20px;
          align-items: center; } }
  section.consult-overlay .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; }
    @media screen and (min-width: 568px) {
      section.consult-overlay .close {
        top: 20px;
        right: 20px; } }
    section.consult-overlay .close .close-btn {
      display: block;
      width: 36px; }
      section.consult-overlay .close .close-btn:before, section.consult-overlay .close .close-btn:after {
        background-color: #BF1E2E;
        content: '';
        display: block;
        height: 4px;
        transition: all 200ms ease-in-out; }
      section.consult-overlay .close .close-btn:before {
        box-shadow: 0 0 0 #BF1E2E;
        transform: translateY(11px) rotate(45deg);
        margin-bottom: 18px; }
      section.consult-overlay .close .close-btn:after {
        transform: translateY(-11px) rotate(-45deg); }
  section.consult-overlay .info {
    margin: 20px 0; }
  section.consult-overlay .form {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 768px) {
      section.consult-overlay .form {
        padding: 40px; } }
    section.consult-overlay .form .wpforms-title {
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      color: #BF1E2E;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem !important; }
      @media screen and (min-width: 768px) {
        section.consult-overlay .form .wpforms-title {
          font-size: 1.5rem !important; } }
    section.consult-overlay .form .wpforms-description {
      text-align: center;
      padding: 5px 0 10px 0;
      font-size: 0.75em; }
      @media screen and (min-width: 768px) {
        section.consult-overlay .form .wpforms-description {
          padding: 10px 0 20px 0;
          font-size: 0.875em; } }
    section.consult-overlay .form label {
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.75rem !important; }
      @media screen and (min-width: 768px) {
        section.consult-overlay .form label {
          font-size: 1rem !important; } }
    section.consult-overlay .form div.wpforms-container-full .wpforms-form button[type="submit"] {
      background: #fff;
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #BF1E2E;
      border: 2px solid #BF1E2E;
      font-weight: bold;
      padding: 10px 20px 11px 20px;
      transition: all 0.2s ease-in; }
      section.consult-overlay .form div.wpforms-container-full .wpforms-form button[type="submit"]:hover {
        background: #BF1E2E;
        color: #fff; }
    section.consult-overlay .form div.wpforms-container-full {
      margin-bottom: 0; }
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="date"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="datetime"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="datetime-local"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="email"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="month"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="number"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="password"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="range"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="search"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="tel"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="text"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="time"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="url"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="week"],
    section.consult-overlay .form div.wpforms-container-full .wpforms-form select,
    section.consult-overlay .form div.wpforms-container-full .wpforms-form textarea {
      height: 30px;
      font-size: 0.8125rem; }
      @media screen and (min-width: 768px) {
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="date"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="datetime"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="datetime-local"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="email"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="month"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="number"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="password"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="range"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="search"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="tel"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="text"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="time"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="url"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form input[type="week"],
        section.consult-overlay .form div.wpforms-container-full .wpforms-form select,
        section.consult-overlay .form div.wpforms-container-full .wpforms-form textarea {
          height: 38px;
          font-size: 1rem; } }
    section.consult-overlay .form div.wpforms-container-full .wpforms-form textarea {
      height: 80px; }
      @media screen and (min-width: 768px) {
        section.consult-overlay .form div.wpforms-container-full .wpforms-form textarea {
          height: 120px; } }

body.consult-open section.consult-overlay {
  display: block; }
