article.blog-preview {

	.info {
		background: $white;
		padding: 25px;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
		max-width: 90%;
		margin: 0 auto;
		transform: translateY(-25px);

		h4 {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.75em;
			color: #b5b5b5;
			padding: 0 0 5px 0;
		}

		h3 {
			font-size: 1.125em;
			padding: 0 0 20px 0;

			a:hover {
				color: $red;
			}
		}

		p {
			font-size: 0.8125em;
			line-height: 1.375em;
		}

		a.read-more {
			color: $red;
			font-family: $news-cycle;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.05em;
			display: inline-block;
			margin: 10px 0 0 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}

}