section.consult-overlay {
	display: none;

	.overlay {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100000;
		background: rgba(255, 255, 255, 0.9);
		overflow: scroll;



		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			height: 100vh;
			padding: 20px;

			@include tablet-portrait {
				padding: 80px 20px;
				align-items: center;
			}
		}
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		@include mobile-landscape {
			top: 20px;
			right: 20px;
		}
		
		.close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $red;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $red;;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}

	.info {
		margin: 20px 0;
	}

	.form {
		background: $white;
		padding: 20px;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

		@include tablet-portrait {
			padding: 40px;
		}

		.wpforms-title {
			font-family: $news-cycle;
			text-transform: uppercase;
			color: $red;
			text-align: center;
			font-weight: bold;
			font-size: 1.25rem !important;

			@include tablet-portrait {
				font-size: 1.5rem !important;
			}
		}

		.wpforms-description {
			text-align: center;
			padding: 5px 0 10px 0;
			font-size: 0.75em;

			@include tablet-portrait {
				padding: 10px 0 20px 0;
				font-size: 0.875em;
			}
		}

		label {
			font-family: $news-cycle;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.75rem !important;

			@include tablet-portrait {
				font-size: 1rem !important;
			}
		}

		div.wpforms-container-full .wpforms-form button[type="submit"] {
			background: $white;
			font-family: $news-cycle;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: $red;
			border: 2px solid $red;
			font-weight: bold;
			padding: 10px 20px 11px 20px;
			transition: all 0.2s ease-in;

			&:hover {
				background: $red;
				color: $white;
			}
		}

		div.wpforms-container-full {
			margin-bottom: 0;
		}

		div.wpforms-container-full .wpforms-form input[type="date"],
		div.wpforms-container-full .wpforms-form input[type="datetime"],
		div.wpforms-container-full .wpforms-form input[type="datetime-local"],
		div.wpforms-container-full .wpforms-form input[type="email"],
		div.wpforms-container-full .wpforms-form input[type="month"],
		div.wpforms-container-full .wpforms-form input[type="number"],
		div.wpforms-container-full .wpforms-form input[type="password"],
		div.wpforms-container-full .wpforms-form input[type="range"],
		div.wpforms-container-full .wpforms-form input[type="search"],
		div.wpforms-container-full .wpforms-form input[type="tel"],
		div.wpforms-container-full .wpforms-form input[type="text"],
		div.wpforms-container-full .wpforms-form input[type="time"],
		div.wpforms-container-full .wpforms-form input[type="url"],
		div.wpforms-container-full .wpforms-form input[type="week"],
		div.wpforms-container-full .wpforms-form select,
		div.wpforms-container-full .wpforms-form textarea {
			height: 30px;
			font-size: 0.8125rem;

			@include tablet-portrait {
				height: 38px;
				font-size: 1rem;
			}
		}

		div.wpforms-container-full .wpforms-form textarea {
			height: 80px;

			@include tablet-portrait {
				height: 120px;
			}
		}



	}


}


body.consult-open {
	section.consult-overlay {
		display: block;
	}
}