.project-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px 30px;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
	}

	@include tablet-portrait {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.project {

		.photo {
			a {
				display: block;
				@include aspect-ratio(390, 292);
				filter: grayscale(100%);
				transition: all 0.5s ease-in-out;

				&:hover {
					filter: grayscale(0%);
				}
			}
		}

		.info {
			text-align: center;
			padding: 20px;

			h4 {
				font-size: 1em;
				line-height: 1.1em;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				max-width: 640px;
				margin: 0 auto;

			}

			h5 {
				font-family: $baskerville;
				font-style: italic;
				font-weight: normal;
				font-size: 0.8125em;
				padding: 15px 0 0 0;
			}

		}

		&-none {
			text-align: left;

			h3 {
				font-weight: bold;
				font-size: 1.25em;
			}
		}

	}
}