section#skill-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 75px 100px;

	.skill {
		h4 {
			font-size: 1.25em;
			padding: 0 0 10px 0;
		}

		.description {
			padding: 0 0 0 20px;

			p {
				font-size: 0.75em;
				line-height: 1.7em;
				padding: 0 0 20px 0;
			}

			a {
				font-family: $news-cycle;
				font-weight: bold;
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: $slate;
				display: inline-block;
				border-bottom: 1px solid $red;
				padding: 0 0 3px 0;

			}
		}


	}

}